extends layout

block content
  h1 Happy Birthday #{shaun}
  div(id='bloons')
    img(src='/images/bloon1.svg')
    img(src='/images/bloon2.svg')
    img(src='/images/bloon3.svg')
    img(src='/images/bloon4.svg')
  img(id='dog', src='/images/dog.svg')
  .fb-like(id='fblike', data-href='http://www.happybirthdayshaun.space/', data-width='40px', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')