body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/landscape.svg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: #00B7FF;
}

#bloons img {
  height: 400px;
  position: absolute;
  top: 800px;
}
#bloons img:nth-child(1) {
  left: 20%;
}
#bloons img:nth-child(2) {
  left: 40%;
}
#bloons img:nth-child(3) {
  left: 50%;
}
#bloons img:nth-child(4) {
  left: 80%;
}

#dog {
  position: absolute;
  width: 400px;
  left: -400px;
}

h1 {
  color: white;
  font-size:  60px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#fblike {
  top: 0px;
  right: 20px;
  position: absolute;
}